:root {
    --background-color: #222222;
    --primary-color: gray;
    --secondary-color: #999999;

    --player1-color:;
    --player2-color:;
    --hover-color:;
    --font-size:;

    --grid-width:;
    --grid-height:;

    --line-border-radius:;

    --rows: 0.5vh 5vh 0.5vh 5vh 0.5vh 5vh 0.5vh 5vh 0.5vh 5vh 0.5vh 5vh 0.5vh;
    --columns: 0.5vh 5vh 0.5vh 5vh 0.5vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary-color);
}

.score-board {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--secondary-color);
    justify-content: space-around;
    color: var(--background-color);
    text-transform: uppercase;
    font-weight: bold;
}

.game-board {
    display: flex;  
    width: 100%;
    height: calc(100vh - 160px);
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.game-grid-container {
    display: grid;
    height: calc(90vh - 160px);
    justify-content: center;
    align-content: center;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);
}

.options {
    display: flex;
    bottom: 0;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
}

.option-buttons {
    text-transform: uppercase;
    width: 50%;
    height: 100%;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.game-setup {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dot {
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin: 0.5px;
}

.line {
    border-radius: var(--line-border-radius);
    background-color: var(--background-color);
    margin: 0.5px;
    border: solid var(--background-color) calc(var(--line-border-radius) / 2);
    transition: all 0.5s;
}

.line:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.box {
    background-color: var(--background-color);
    margin: 0.5px;
}

.player1-bg-color {
    border-radius: var(--line-border-radius);
    background-color: var(--player1-color);
    border: solid var(--background-color) calc(var(--line-border-radius) / 2);
    margin: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
}

.player2-bg-color {
    font-size: 80%;
    border-radius: var(--line-border-radius);
    background-color: var(--player2-color);
    border: solid var(--background-color) calc(var(--line-border-radius) / 2);
    margin: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    text-transform: uppercase;
    font-weight: bold;
}

.input {
    width: 500px;
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: none;
}

.submit {
    text-transform: uppercase;
    background-color: var(--secondary-color);
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    font-weight: bold;
}